@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  @apply bg-zinc-100 dark:bg-blue-chill-950 text-xl dark:text-white font-atkinson;
}
main {
  @apply m-auto w-full max-w-5xl p-6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-blue-chill-900 dark:text-blue-chill-50 leading-tight;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
a {
  @apply text-blue-chill-900 dark:text-blue-chill-50;
}
a:hover {
  @apply underline text-blue-chill-950 dark:text-blue-chill-200;
}
strong,
b {
  @apply font-bold;
}
p,
time,
textarea {
  @apply text-blue-chill-900 dark:text-blue-chill-50;
}
textarea,
table {
  @apply w-full;
}
img {
  @apply h-auto rounded-lg max-w-full;
}
code {
  @apply px-1.5 py-0.5 text-blue-chill-900 dark:text-blue-chill-50;
}
pre {
  @apply p-6 rounded-lg;
}
pre > code {
  all: unset;
}
blockquote {
  @apply border-l-2 border-blue-chill-900 dark:border-blue-chill-50 pl-4 m-0;
}
hr {
  @apply border-t-1 border-t-blue-chill-900;
}
