---
import BaseHead from '../components/global/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FeaturedPosts from '../components/posts/FeaturedPosts.astro';
import LandingPageIntro from '../components/landing-page/LandingPageIntro.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class='space-y-4'>
      <LandingPageIntro />

      <FeaturedPosts />

      <Footer />
    </main>
  </body>
</html>
