---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const mainRoute = pathname.split('/')[1];
const isActive =
  href === `/${mainRoute}` || href === `/${mainRoute}`.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    isActive ? 'font-bold' : 'font-normal',
  ]}
  {...props}
>
  <slot />
</a>
