---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    className,
    'inline-block text-black hover:text-blue-500', // TODO: Change to `text-primary` and `hover:text-primary-dark
    { active: isActive },
    isActive ? 'underline font-bold' : 'no-underline',
  ]}
  {...props}
>
  <slot />
</a>
